<h1 mat-dialog-title>Agregar servicio de monitoreo</h1>
<div mat-dialog-content>

  <form [formGroup]="monitoringSystemForm">
    <div class="form-container">

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Nombre del Servicio</mat-label>
          <input matInput [formControl]="name" placeholder="Vigilancia" required>
          <mat-error
            *ngIf="name.errors?.nameExistsValidator && !name.errors?.pattern && !name.errors?.minlength && !name.errors?.required">
            El nombre ingresado ya existe
          </mat-error>
          <mat-error *ngIf="name.errors?.pattern && !name.errors?.minlength && !name.errors?.required">
            Solo caracteres válidos
          </mat-error>
          <mat-error *ngIf="name.errors?.minlength && !name.errors?.required">
            Tiene que tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="name.errors?.required">
            Se <strong>requiere</strong> el nombre del servicio
          </mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Nombre del Sensor</mat-label>
          <input matInput [formControl]="sensor" placeholder="Cámara" required>
          <mat-error *ngIf="sensor.errors?.pattern && !sensor.errors?.minlength && !sensor.errors?.required">
            Solo caracteres válidos
          </mat-error>
          <mat-error *ngIf="sensor.errors?.minlength && !sensor.errors?.required">
            Debe tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="sensor.errors?.required">
            Se <strong>requiere</strong> el nombre del sensor
          </mat-error>
        </mat-form-field >
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Empresa</mat-label>
          <input matInput [formControl]="monitoringCompany" placeholder="Verisure" required>
          <mat-error *ngIf="monitoringCompany.errors?.minlength && !monitoringCompany.errors?.required">
          </mat-error>
          <mat-error *ngIf="monitoringCompany.errors?.required">
            Se <strong>requiere</strong> el nombre de la empresa
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>

</div>
<div mat-dialog-actions>
  <div class="buttons-container">
    <div class="item">
      <button mat-raised-button (click)="close()">Cancelar</button>
      <button mat-raised-button [disabled]="invalid" color="primary" (click)="saveMonitoringSystem()">Aceptar</button>
    </div>
  </div>
</div>
