<mat-toolbar color="primary">
  <span class="nav-bar-title">Insurance Solutions</span>
  <a class="nav-bar-button" mat-button routerLink="/clients">Clientes</a>
  <a class="nav-bar-button" mat-button routerLink="/vehicles">Vehículos</a>
  <a class="nav-bar-button" mat-button routerLink="/monitoring-systems">Servicios de Monitoreo</a>
  <a class="nav-bar-button" mat-button routerLink="/insurance-companies">Empresas Aseguradoras</a>
  <a class="nav-bar-button" mat-button routerLink="/users">Usuarios</a>
</mat-toolbar>
