.main-div {
  display: grid;
  justify-content: center;
}

.page-title {
  padding-top: 15%;
  padding-bottom: 10%;
  justify-self: center;
  font-size: 50px;
}

.form-container {
  .item {
    display: grid;
    justify-content: center;
  }
}

.buttons-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  column-gap: 10px;

  .item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
  }
}
