<h1 mat-dialog-title>Agregar usuario</h1>
<div mat-dialog-content>

  <form [formGroup]="userForm">
    <div class="form-container">

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Nombre:</mat-label>
          <input matInput [formControl]="username" placeholder="Juan" required>
          <mat-error *ngIf="username.errors?.alreadyExistsValidator && !username.errors?.minlength && !username.errors?.required">
            El usuario ingresado ya existe
          </mat-error>
          <mat-error *ngIf="username.errors?.pattern && !username.errors?.minlength && !username.errors?.required">
            Solo caracteres válidos
          </mat-error>
          <mat-error *ngIf="username.errors?.minlength && !username.errors?.required">
            Tiene que tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="username.errors?.required">
            Se <strong>requiere</strong> nombre
          </mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Contraseña:</mat-label>
          <input matInput [formControl]="password" placeholder="password" required type="password">
          <mat-error *ngIf="password.errors?.pattern && !password.errors?.minlength && !password.errors?.required">
            La contraseña debe contener al menos una letra, un número y un caracter especial
          </mat-error>
          <mat-error *ngIf="password.errors?.minlength && !password.errors?.required">
            Tiene que tener un mínimo de 8 caracteres
          </mat-error>
          <mat-error *ngIf="password.errors?.required">
            Se <strong>requiere</strong> contraseña
          </mat-error>
        </mat-form-field >
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Tipo:</mat-label>
          <mat-select [formControl]="type" required>
            <mat-option *ngFor="let typ of types" [value]="typ">{{typeLabels[typ]}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Empresa:</mat-label>
          <input type="text"
                 placeholder="Ingrese nombre de la empresa"
                 matInput
                 [formControl]="insuranceCompany"
                 [matAutocomplete]="auto"
                 required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOption">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>

</div>
<div mat-dialog-actions>
  <div class="buttons-container">
    <div class="item">
      <button mat-raised-button (click)="close()">Cancelar</button>
      <button mat-raised-button [disabled]="invalid" color="primary" (click)="saveUser()">Aceptar</button>
    </div>
  </div>
</div>
