<div class="monitoring-system-details-header">
  <h1 mat-dialog-title>Ver Servicio de Monitoreo</h1>
  <button mat-icon-button aria-label="close details button" (click)="closeDetails()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="monitoring-system-details-content">
  <p class="item">Nombre: {{monitoringSystem.serviceName}}</p>
  <p class="item">Sensor: {{monitoringSystem.sensor}}</p>
  <p class="item">Empresa: {{monitoringSystem.company}}</p>
  <p class="item">Asignado: {{monitoringSystem.isAssigned}}</p>
</div>
<div mat-dialog-actions class="monitoring-system-details-actions">
  <button mat-raised-button color="primary" (click)="assignMonitoringSystem()">Asignar</button>
  <button mat-raised-button color="primary" (click)="updateMonitoringSystem()">Editar</button>
  <button mat-raised-button color="primary" (click)="deleteMonitoringSystem()">Eliminar</button>
</div>
