<div *ngIf="loading">
  <mat-spinner class="spinner"
               mode="indeterminate"></mat-spinner>
</div>
<mat-card [hidden]="!loading" class="mat-card my-5">
  <mat-card-header>
    <mat-card-title><h2>Servicios de Monitoreo</h2></mat-card-title>
  </mat-card-header>
     <mat-card-content class="table-options">
    <mat-form-field>
      <mat-label>Buscar...</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <span></span>
    <button (click) = "openDialog()" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
  <mat-card-content class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="sensor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sensor </th>
        <td mat-cell *matCellDef="let element"> {{element.sensor}} </td>
      </ng-container>

      <ng-container matColumnDef="monitoringCompany">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
        <td mat-cell *matCellDef="let element"> {{element.monitoringCompany}} </td>
      </ng-container>

      <ng-container matColumnDef="assigned">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Asignado </th>
        <td mat-cell *matCellDef="let element">  
          <mat-icon color="warn" *ngIf="!element.assigned">block</mat-icon>
          <mat-icon *ngIf="element.assigned">add</mat-icon>
        </td>
      </ng-container>


      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="primary" type="button" (click)='updateMonitoringSystem(element)'>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" type="button" (click)="deleteMonitoringSystem(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay servicios de monitoreo.</td>
      </tr>
    </table>

   <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </mat-card-content>
</mat-card>
