<h1 mat-dialog-title>Crear Nuevo Perfil de Conducción</h1>
<div mat-dialog-content>

  <form [formGroup]="drivingProfileForm">
    <div class="form-container">
      
      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Tiempo Promedio de Manejo (en horas): </mat-label>
          <input matInput [formControl]="avgDailyDrivingTime" placeholder="4">
          <mat-error *ngIf="avgDailyDrivingTime.errors?.pattern && !avgDailyDrivingTime.errors?.minlength && !avgDailyDrivingTime.errors?.required">
            Solo caracteres validos
          </mat-error>
          <mat-error *ngIf="avgDailyDrivingTime.errors?.minlength && !avgDailyDrivingTime.errors?.required">
            Tiene que tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="avgDailyDrivingTime.errors?.required">
            Se <strong>requiere</strong> tiempo promedio de manejo
          </mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Velocidad Promedio (km/h)</mat-label>
          <input matInput [formControl]="avgSpeed" placeholder="30">
          <mat-error *ngIf="avgSpeed.errors?.pattern && !avgSpeed.errors?.minlength && !avgSpeed.errors?.required">
            Solo caracteres validos
          </mat-error>
          <mat-error *ngIf="avgSpeed.errors?.minlength && !avgSpeed.errors?.required">
            Tiene que tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="avgSpeed.errors?.required">
            Se <strong>requiere</strong> velocidad promedio
          </mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Velocidad Máxima (km/h)</mat-label>
          <input matInput [formControl]="maxSpeed" placeholder="30">
          <mat-error *ngIf="maxSpeed.errors?.pattern && !maxSpeed.errors?.minlength && !maxSpeed.errors?.required">
            Solo caracteres validos
          </mat-error>
          <mat-error *ngIf="maxSpeed.errors?.minlength && !maxSpeed.errors?.required">
            Tiene que tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="maxSpeed.errors?.required">
            Se <strong>requiere</strong> velocidad máxima
          </mat-error>
        </mat-form-field>
      </div>

 <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Velocidad Mínima (km/h)</mat-label>
          <input matInput [formControl]="minSpeed" placeholder="30">
          <mat-error *ngIf="minSpeed.errors?.pattern && !minSpeed.errors?.minlength && !minSpeed.errors?.required">
            Solo caracteres validos
          </mat-error>
          <mat-error *ngIf="minSpeed.errors?.minlength && !minSpeed.errors?.required">
            Tiene que tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="minSpeed.errors?.required">
            Se <strong>requiere</strong> velocidad mínima
          </mat-error>

        </mat-form-field>
      </div>

  <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Fecha de Inicio</mat-label>
          <input matInput [formControl]="startDate" placeholder="3/01/2020">
          <mat-error *ngIf="startDate.errors?.pattern && !startDate.errors?.minlength && !startDate.errors?.required">
            Solo caracteres validos
          </mat-error>
          <mat-error *ngIf="startDate.errors?.minlength && !startDate.errors?.required">
            Tiene que tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="startDate.errors?.required">
            Se <strong>requiere</strong> fecha de inicio
          </mat-error>
          </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Fecha de Finalización</mat-label>
          <input matInput [formControl]="finishDate" placeholder="4/02/2020">
          <mat-error *ngIf="finishDate.errors?.pattern && !finishDate.errors?.minlength && !finishDate.errors?.required">
            Solo caracteres validos
          </mat-error>
          <mat-error *ngIf="finishDate.errors?.minlength && !finishDate.errors?.required">
            Tiene que tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="finishDate.errors?.required">
            Se <strong>requiere</strong> fecha de finalización
          </mat-error>
        </mat-form-field>
      </div>

<div mat-dialog-actions>
  <div class="buttons-container">
    <div class="item">
      <button mat-raised-button (click)="close()">Cancelar</button>
      <button mat-raised-button [disabled]="invalid" color="primary" (click)="saveDrivingProfile()">Generar</button>
    </div>
  </div>
</div>
