
<h1 mat-dialog-title>Agregar cliente</h1>
<div mat-dialog-content>

    <div class="form-container">
      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Patente</mat-label>
          <input matInput [formControl]="licensePlate" placeholder="ABC123">
          <mat-error *ngIf="licensePlate.errors?.pattern && !licensePlate.errors?.minlength && !licensePlate.errors?.required">
            Solo caracteres validos
          </mat-error>
          <mat-error *ngIf="licensePlate.errors?.minlength && !licensePlate.errors?.required">
            Tiene que tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="licensePlate.errors?.required">
            Se <strong>requiere</strong> una patente
          </mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Categoría</mat-label>
          <input matInput [formControl]="category" placeholder="SUV">
          <mat-error *ngIf="category.errors?.pattern && !category.errors?.minlength && !category.errors?.required">
            Solo caracteres validos
          </mat-error>
          <mat-error *ngIf="category.errors?.minlength && !category.errors?.required">
            Tiene que tener un mínimo de 2 caracteres
          </mat-error>
          <mat-error *ngIf="category.errors?.required">
            Se <strong>requiere</strong> una categoría
          </mat-error>
        </mat-form-field >
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Modelo</mat-label>
          <input matInput [formControl]="model" placeholder="Camaro">
          <mat-error *ngIf="model.errors?.maxlength && !model.errors?.required">
            Tiene que tener un máximo de 9 caracteres
          </mat-error>
          <mat-error *ngIf="model.errors?.minlength && !model.errors?.required">
            Tiene que tener un mínimo de 7 caracteres
          </mat-error>
          <mat-error *ngIf="model.errors?.required">
            Se <strong>requiere</strong> modelo
          </mat-error>
        </mat-form-field >
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Marca</mat-label>
          <input matInput [formControl]="brand" placeholder="Chevrolet">
          <mat-error *ngIf="brand.errors?.required">
            Se <strong>requiere</strong> teléfono
          </mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Cliente </mat-label>
          <input matInput [formControl]="client" placeholder="example@client.com">
          <mat-error *ngIf="client.errors?.eclient && !client.errors?.required">
            Ingresar un cliente
          </mat-error>
          <mat-error *ngIf="client.errors?.required">
            Se <strong>requiere</strong> un cliente
          </mat-error>
        </mat-form-field>
      </div>
    </div>
</div>
<div mat-dialog-actions>
  <div class="buttons-container">
    <div class="item">
      <button mat-raised-button (click)="close()">Cancelar</button>
      <button mat-raised-button [disabled]="invalid" color="primary" (click)="updateVehicle()">Aceptar</button>
    </div>
  </div>
</div>

