<div class="client-details-header">
  <h1 mat-dialog-title>Ver cliente</h1>
  <button mat-icon-button aria-label="close details button" (click)="closeDetails()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="client-details-content">
  <p class="item">Nombre: {{client.firstName}}</p>
  <p class="item">Apellido: {{client.lastName}}</p>
  <p class="item">DNI: {{client.dni}}</p>
  <p class="item">Telefono: {{client.phoneNumber}}</p>
  <p class="item">Mail: {{client.mail}}</p>
  <p class="item" *ngIf="client.insuranceCompany">Empresa Aseguradora: {{client.insuranceCompany.name}}</p>
</div>
<div mat-dialog-actions class="client-details-actions">
  <button mat-raised-button color="primary" (click)="seeVehicles()">Ver Vehiculos</button>
  <button mat-raised-button color="primary" (click)="updateClient()">Editar</button>
  <button mat-raised-button color="warn" (click)="deleteClient()">Eliminar</button>
</div>
