<div class="vehicle-details-header">
  <h1 mat-dialog-title>Ver vehículo</h1>
  <button mat-icon-button aria-label="close details button" (click)="closeDetails()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="vehicle-details-content">
  <p class="item">Patente: {{vehicle.licensePlate}}</p>
  <p class="item">Categoria: {{vehicle.category}}</p>
  <p class="item">Modelo: {{vehicle.model}}</p>
  <p class="item">Marca: {{vehicle.brand}}</p>
  <p class="item">Cliente: Nombre del Cliente</p>
</div>
<div mat-dialog-actions class="vehicle-details-actions">
  <button mat-raised-button color="primary" (click)="seeProfiles()">Ver Perfiles</button>
  <button mat-raised-button color="primary" (click)="updateVehicle()">Editar</button>
  <button mat-raised-button color="warn" (click)="deleteVehicle()">Eliminar</button>
</div>
