<h1 mat-dialog-title>Editar servicio de monitoreo</h1>
<div mat-dialog-content>

  <div *ngIf="loading">
    <mat-spinner class="spinner"
                 mode="indeterminate"></mat-spinner>
  </div>

  <div class="form-container" *ngIf="!loading">
    <div class="item">
      <mat-form-field appearance="fill">
        <mat-label>Nombre del Servicio</mat-label>
        <input matInput [formControl]="name" placeholder="Vigilancia" required maxlength="50">
        <mat-error *ngIf="name.errors?.alreadyExistsValidator && !name.errors?.minlength && !name.errors?.required">
          El nombre ingresado ya existe
        </mat-error>
        <mat-error *ngIf="name.errors?.minlength && !name.errors?.required">
          Tiene que tener un mínimo de 2 caracteres
        </mat-error>
        <mat-error *ngIf="name.errors?.required">
          Se <strong>requiere</strong> el nombre del servicio
        </mat-error>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field appearance="fill">
        <mat-label>Nombre del Sensor</mat-label>
        <input matInput
               type="text"
               placeholder="Cámara"
               [formControl]="sensor"
               [matAutocomplete]="auto"
               required
               maxlength="50">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySensor">
          <mat-option *ngFor="let option of filteredSensors | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="sensor.errors?.checkExistsValidator && !sensor.errors?.minlength && !sensor.errors?.required">
          Ingrese un nombre de sensor válido
        </mat-error>
        <mat-error *ngIf="sensor.errors?.minlength && !sensor.errors?.required">
          Debe tener un mínimo de 2 caracteres
        </mat-error>
        <mat-error *ngIf="sensor.errors?.required">
          Se <strong>requiere</strong> el nombre del sensor
        </mat-error>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field appearance="fill">
        <mat-label>Empresa</mat-label>
        <input matInput [formControl]="monitoringCompany" placeholder="Verisure" required maxlength="50">
        <mat-error *ngIf="monitoringCompany.errors?.minlength && !monitoringCompany.errors?.required">
          Debe tener un minimo de 2 caracteres
        </mat-error>
        <mat-error *ngIf="monitoringCompany.errors?.required">
          Se <strong>requiere</strong> el nombre de la empresa
        </mat-error>
      </mat-form-field>
    </div>
  </div>

</div>
<div mat-dialog-actions *ngIf="!loading">
  <div class="buttons-container">
    <div class="item">
      <button mat-raised-button (click)="close()">Cancelar</button>
      <button mat-raised-button [disabled]="invalid" color="primary" (click)="updateMonitoringSystem()">Guardar</button>
    </div>
  </div>
</div>
