<div class="client-vehicles-header">
  <h1 mat-dialog-title>Vehiculos del cliente {{client.firstName}} {{client.lastName}}</h1>
  <button mat-icon-button aria-label="close details button" (click)="closeVehicles()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="client-vehicles-content">

<!--  Vehicles Table-->

  <table *ngIf="vehicles?.length" mat-table [dataSource]="vehicles" matSort class="mat-elevation-z8">

    <!-- firstName Column -->
    <ng-container matColumnDef="vehicle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dominio </th>
      <td mat-cell *matCellDef="let element"> {{element.licensePlate}} </td>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{client.firstName + " " + client.lastName}} </td>
    </ng-container>

    <!-- options Column -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Options </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" type="button" (click)="deleteVehicle(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!--  End of Vehicles Table-->

  <h2 *ngIf="!vehicles?.length" class="no-vehicles-message">No hay vehiculos para mostrar de este cliente</h2>

</div>
<div mat-dialog-actions class="client-vehicles-actions">
  <button mat-raised-button color="primary" (click)="addVehicle()">Agregar</button>
</div>
