<h1 mat-dialog-title>Agregar vehículo</h1>
<div mat-dialog-content>

  <form [formGroup]="vehicleForm">
    <div class="form-container">

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Patente:</mat-label>
          <input matInput [formControl]="licensePlate" placeholder="" required>
          <mat-error
            *ngIf="licensePlate.errors?.plateExistsValidator && !licensePlate.errors?.pattern && !licensePlate.errors?.minlength && !licensePlate.errors?.required">
            La patente ingresada ya existe
          </mat-error>
          <mat-error
            *ngIf="licensePlate.errors?.pattern && !licensePlate.errors?.minlength && !licensePlate.errors?.required">
            No cumple el formato de patente admitida
          </mat-error>
          <mat-error *ngIf="licensePlate.errors?.minlength && !licensePlate.errors?.required">
            Debe tener un mínimo de 6 caractéres
          </mat-error>
          <mat-error *ngIf="licensePlate.errors?.required">
            Se <strong>requiere</strong> patente
          </mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Categoría:</mat-label>
          <mat-select [formControl]="category" required>
            <mat-option *ngFor="let cat of categories" [value]="cat">{{categoryLabels[cat]}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Modelo:</mat-label>
          <input matInput [formControl]="model" placeholder="modelo" required>
          <mat-error *ngIf="model.errors?.pattern && !model.errors?.minlength && !model.errors?.required">
            Sólo caractéres válidos
          </mat-error>
          <mat-error *ngIf="model.errors?.minlength && !model.errors?.required">
            Debe tener un mínimo de 1 caractér
          </mat-error>
          <mat-error *ngIf="model.errors?.required">
            Se <strong>requiere</strong> modelo
          </mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Marca:</mat-label>
          <input matInput [formControl]="brand" placeholder="marca" required>
          <mat-error *ngIf="brand.errors?.pattern && !brand.errors?.minlength && !brand.errors?.required">
            Sólo caractéres válidos
          </mat-error>
          <mat-error *ngIf="brand.errors?.minlength && !brand.errors?.required">
            Debe tener un mínimo de 1 caractér
          </mat-error>
          <mat-error *ngIf="brand.errors?.required">
            Se <strong>requiere</strong> marca
          </mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <mat-form-field appearance="fill">
          <mat-label>Cliente:</mat-label>
          <input type="text"
                 placeholder="Ingrese DNI del Cliente"
                 matInput
                 [formControl]="client"
                 [matAutocomplete]="auto"
                 required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOption">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.dni}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

    </div>
  </form>

</div>
<div mat-dialog-actions>
  <div class="buttons-container">
    <div class="item">
      <button mat-raised-button (click)="close()">Cancelar</button>
      <button mat-raised-button [disabled]="invalid" color="primary" (click)="saveVehicle()">Guardar</button>
    </div>
  </div>
</div>
